# Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_aplicativo

# JWT 
JWT_SECRET=chave_secreta_jwt

# Chave privada do Stripe  
STRIPE_SECRET_KEY=chave_secreta_stripe

# MySQL Configurações
DB_NAME=nome_banco_de_dados
DB_USER=usuario_criado
DB_PASS=senha_do_banco_de_dados
DB_HOST=localhost
DB_DIALECT=mysql
